// Place all the styles related to the wordgame controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  font-size: 30px;
}
.mylink {
  padding: 100px auto;
  font-size: 20px;
}
